@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.roboto-sans{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}



.navbar {
    margin: 0 auto;
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    border: solid;
}


.pages {
    display: flex;
    gap: 20px;
    font-size: 13px;
}

.pages li {
    list-style: none;
}
.pages li a {
    text-decoration: none;
}