@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.roboto-sans{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* Shared elements*/
.btn {
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.color-p {
    color: #3A3A3A;
    font-size: 15px;
    width: 95%;
    margin-bottom: 20px;
}

/* nav */
.navbar {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    /* border: solid; */
}


.pages {
    display: flex;
    gap: 30px;
    font-size: 15px;
}

.pages li {
    list-style: none;
}
.pages li a {
    text-decoration: none;
}

/* banner */

#banner {
    display: flex;
    width: 92%;
    margin: 0 auto;
    /* margin-top: 138px; */
    /* justify-content: center; */
    align-items: center;
    gap: 120px;
}

.banner-content {
    width: 40%;
}

.banner-content h1{
    font-size: 42px;
}

.banner-content button {
    border-radius: 60px;
}

.banner-img {
    width: 30%;
    margin: 0 auto;
    background: url("images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banner-img img {
    width: 100%;
}

/* Sponsors */
#sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 80%;
    margin: 0 auto;
    border: solid 2px rgba(0, 0, 0, 0.11);
    border-left: none;
    border-right: none;
    margin-top: 100px;
} 


#sponsors img {
    width: 84px;
    height: 24px;
}

/* Products */

#products {
    width: 80%;
    margin: 0 auto;
    /* border: solid red; */
    margin-top: 100px;
}

#products h2 {
    margin-left: 40%;
}
.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 18px;
    border-radius: 5px;
}

.card {
    /* border: solid; */
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    /* width: 28%; */
    border-radius: 9px;
}

.card h3,
.card h6,
.card p {
    margin: 5px 0;
}


.card h3 {
    font-size: 28px;
    margin-top: 10px;
}


.card img {
    width: 100%;
}

.price {
    margin-top: 30px;
    font-size: 24px;
    color: red;
}

#see-more {
    color: red;
    margin-left: 90%;
}

/*  Last section */
#last {
    display: flex;
    width: 85%;
    margin: 0 auto;
    gap: 98px;
}

#last .last-content h1 {
    font-size: 35px;
    color: rgba(255, 38, 0, 0.975);
}

#last .last-content p {
    width: 501px;
    font-size: 16px;
    font-weight: 700;
}

/* footer */

footer {
    margin-top: 50px;
    color: white;
    background-color: rgb(1, 1, 40);
    height: 250px;
    text-align: center;
    padding: 30px;
}

.footer-content {
    margin-top: 50px;
}

.footer-content .social {
    display: flex;
    gap: 50px;
    justify-content: center;

    
}